.vl {
    border-left: 5px solid green;
    height: 100%;
    width: 50%;
    display: block;
    float: left;

}

.badge {
   font-size: 13px;
}

.footer {
    background: #23272b;
            /*#061D25;*/
    padding: 10px 0;
}
.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
}
.footer a:first-child {
    /*border-left: 1px solid #70726F;*/
}
.footer a:hover {
    color: white;
}

.footer p {
    color:lightgrey;
}

#logoheader {
    width: 130%;
    height: auto;
    background-color: lightgrey;
    margin-bottom: 20px; "
}

#logo {
    width: 150%;
    margin-left:-80px;
}

#loginfooter {
    position:absolute;
    bottom:0;
    width: 100%;
}